*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --text-color: #2c2c2c;
}
.container {
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.body {
  font-family: "Roboto";
}
.header {
  padding-top: 10px;
  padding-bottom: 10px;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__icon__logo{
  width: 66px;
  height: 52px;
  flex-shrink: 0;
  background: #fefefe;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  margin-right: 735px;
}
.header__nav {
  display: flex;
}
.header__list {
  height: 32px;
  display: flex;
  align-items: center;
  gap: 28px;
}
.header__item {
}
.header__link:hover,
.header__link:focus {
  color: #bbf330;
  text-decoration-line: underline;
}
.header__link {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
}
.header__button:hover,
.header__button:focus {
  background: #b5ff00;
}
.header__button {
  color: var(--text-color);
  text-align: right;
  font-family: "Roboto";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  padding: 6px 18px;
  border-radius: 30px;
  background-color: #bbf330;
  width: 98px;
  margin-left: 30px;
}
.hero {
  padding-top: 40px;
}
.hero__container {
  display: flex;
}
.hero__box {
  display: flex;
  flex-direction: column;
  margin-right: 178px;
  padding-top: 159px;
}
.hero__title {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 57.6px */
  width: 502.417px;
  margin-bottom: 28px;
}
.hero__text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 502px;
  height: 69px;
  margin-bottom: 40px;
}
.hero__button:hover,
.hero__button:focus {
  background: #b5ff00;
}
.hero__button {
  color: var(--text-color);
  text-align: right;
  font-family: "Roboto";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  display: inline-flex;
  padding: 6px 18px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #bbf330;
  width: 98px;
}
.hero__img {
  width: 528px;
  height: 528px;
  border-radius: 50%;
  border: 26px solid #ffe550;
  width: 580px;
  height: 580px;
}
.service {
  background-image: url("../img/service/rectangle.webp");
  background-repeat: no-repeat;
  background-size: 100% 824px;
  padding-top: 75px;
  padding-bottom: 100px;
}
.service__container {
  display: flex;
}
.service__img {
  width: 396px;
  height: 502px;
  flex-shrink: 0;
  border-radius: 262px;
}
.service__box {
  margin-left: 160px;
  padding-top: 139px;
}
.service__title {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
  width: 526.167px;
  margin-bottom: 20px;
}
.service__text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  width: 500px;
  margin-bottom: 40px;
}
.service__list {
  display: flex;
  gap: 67px;
  margin-bottom: 32px;
}
/* .service__item::before {
  content: "";
  display: block;
  width: 48px;
  height: 48px;
}
.service__item:nth-child(1):before {
  background-image: url("../img/service/rocket.webp"),
    url("../img/service/ellipse\.webp");
  background-repeat: no-repeat;
  background-position: center;
}
.service__item:nth-child(2):before {
  background-image: url("../img/service/touch.webp"),
    url("../img/service/ellipse\.webp");
  background-repeat: no-repeat;
  background-position: center;
} */
.service__item {
}
.service__icon__logo {
  width: 48px;
height: 48px;
flex-shrink: 0;
}

.service__subtitle {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 25.2px */
  margin-bottom: 16px;
  margin-top: 8px;
}
.service__info {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 21px */
  width: 253px;
}
.service__button:hover,
.service__button:focus {
  border: 2px solid #597d00;
}
.service__button {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  display: inline-flex;
  padding: 10px 22px;
  justify-content: center;
  border-radius: 30px;
  border: 2px solid #7eb101;
  background: #fff;
  max-width: 106px;
  text-wrap: nowrap;
}
.menu {
  padding-top: 100px;
  padding-bottom: 141px;
}
.menu__title {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.menu__text {
  color: var(--text-color);
  text-align: center;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 81px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
  width: 1250px;
  gap: 32px;
}
.menu__item:hover,
.menu__item:focus {
  border: 14px solid #bbf330;
}
.menu__item {
  width: 394px;
  height: 397px;
  border-radius: 197px;
  border: 16px solid #ffe550;
  background: #fefefe;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__img {
  width: 315px;
  height: 315px;
  /* border-radius: 164.5px; */
}
.reviews {
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url("../img/reviews/rectangle.webp");
  background-size: 100% 647px;
  height: 647px;
}
.reviews__title {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;
}
.reviews__text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}
.reviews__list {
  flex-shrink: 0;
  fill: #fefefe;
  display: flex;
  gap: 139px;
}
.reviews__icon__logo {
  width: 101px;
height: 16px;
flex-shrink: 0;
}
/* .reviews__item::before {
  content: "";
  display: block;
  width: 101px;
  height: 16px;
}
.reviews__item:nth-child(1)::before {
  background-image: url("../img/reviews/stars.webp");
}
.reviews__item:nth-child(2)::before {
  background-image: url("../img/reviews/stars.webp");
} */
.reviews__item {
  width: 501px;
  height: 227px;
  flex-shrink: 0;
  border-radius: 0px 30px 30px 30px;
  background-color: #fefefe;
  padding-top: 14px;
  padding-left: 14px;
}
.reviews__info {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 40px;
  margin-top: 28px;
}
.reviews__container {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
  border-right: 1px solid #7eb101;
  width: 160px;
  height: 52px;
}
.reviews__img {
  width: 48px;
  height: 48px;
}
.reviews__rosters {
}
.reviews__roster {
}
.reviews__name {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  margin-left: 16px;
}
.reviews__meta {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-left: 16px;
}
.subscribe {
}
.subscribe__container {
  display: flex;
}
.subscribe__box {
  /* display: flex; */
  max-width: 656px;
  /* flex-wrap: wrap; */
}
.subscribe__title {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 42px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 50.4px */
  width: 656px;
  margin-bottom: 20px;
}
.subscribe__text {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-bottom: 24px;
}
.subscribe__field {
  display: flex;
  width: 394px;
  height: 42px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.subscribe__label {
}
.subscribe__input {
  display: flex;
  height: 42px;
  padding: 12px 57px 12px 12px;
  align-items: center;
  flex: 1 0 0;
  border-radius: 30px;
  border: 0.854px solid #ffe550;
  background-color: #fefefe;
}
.subscribe__button:hover,
.subscribe__button:focus {
  background: #b5ff00;
}
.subscribe__button {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  display: inline-flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  background-color: #bbf330;
  margin-left: 32px;
}
.subscribe__img {
  width: 608px;
  height: 266px;
  /* flex-shrink: 0;
  display: flex; */
}
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__container {
  display: flex;
  align-items: center;
}
.footer__icon__logo {
  width: 66px;
  height: 52px;
  flex-shrink: 0;
  margin-right: 148px;
}
.footer__nav {
  display: flex;
  justify-content: center;
}
.footer__list {
  display: flex;
  flex-wrap: nowrap;
  gap: 28px;
  margin-right: 320px;
}
.footer__item {
}
.footer__link {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer__box {
}
.footer__title {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 21px */
  margin-bottom: 12px;
}
.footer__field {
  display: flex;
}
.footer__label {
}
.footer__input {
  display: inline-flex;
  height: 42px;
  padding: 12px 61.5px 12px 12px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  border: 0.854px solid #ffe550;
  background-color: #fefefe;
  width: 279px;
}
.footer__button:hover,
.footer__button:focus {
  background: #ffe550;
}
.footer__button {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%; /* 19.5px */
  display: inline-flex;
  padding: 11px 22px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 0.854px solid #7eb101;
  background: #fff;
  margin-left: 13px;
  margin-bottom: 12px;
}
.footer__wrapper {
  display: flex;
  justify-content: flex-end;
}
.footer__descr {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 341px;
  height: 14px;
  margin-right: 24px;
  margin-bottom: 80px;
}
.footer__add {
  color: #7eb101;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.footer__infos {
  display: flex;
  align-content: center;
  gap: 20px;
}
.footer__info {
}
.footer__sidebar {
  color: #7eb101;
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-wrap: nowrap;
}
.footer__meta {
  color: var(--text-color);
  font-family: "Roboto";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 760px;
  text-wrap: nowrap;
}
