.menu {
  padding-top: 100px;
  padding-bottom: 141px;

  &__title {
    color: var(--text-color);
    text-align: center;
    font-family: "Roboto";
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }
  &__text {
    color: var(--text-color);
    text-align: center;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 81px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    width: 1250px;
    gap: 32px;
  }
  &__item:hover,
  &__item:focus {
    border: 14px solid #bbf330;
  }
  &__item {
    width: 394px;
    height: 397px;
    border-radius: 197px;
    border: 16px solid #ffe550;
    background: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__img {
    width: 315px;
    height: 315px;
    /* border-radius: 164.5px; */
  }
}
