*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

.container {
  width: 1248px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 16px;
}
.body {
  font-family: "Roboto";
}
